.container h1, .container input, .container p {
	padding: 0;
	margin: 0;
}

.container, .container input {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #4c4c4c;
}


.container h1 {
	font-size: 32px;
	font-weight: 300;
	color: #4c4c4c;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

.container {
	margin: 20px auto;
	width: 1000px;
	height: 510px;
	-webkit-border-radius: 8px/7px;
	-moz-border-radius: 8px/7px;
	border-radius: 8px/7px;
	background-color: #ebebeb;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
	border: solid 1px #cbc9c9;
}

.container input[type=radio] {
	visibility: hidden;
}

.container form {
	margin: 0 30px;
}

.container label.radio {
	cursor: pointer;
	text-indent: 35px;
	overflow: visible;
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
}

.container label.radio:before {
	background: #5cb38b;
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

.container label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.container input[type=radio]:checked+label:after {
	opacity: 1;
}

.container hr {
	color: #a9a9a9;
	opacity: 0.3;
}

.col-iy input[type=text], input[type=password] {
	width: 50%;
	height: 39px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
	margin-left: -5px;
	margin-top: 13px;
	padding-left: 10px;
}

#email {
	margin-bottom: 25px;
}

#icon {
	display: inline-block;
	width: 50px;
	background-color: #5cb38b;
	padding: 8px 5px 8px 5px;
	margin-left: 15px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	color: white;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 0px #cbc9c9;
	text-align: center;
}

.accounttype {
	margin-left: 8px;
	margin-top: 20px;
}

a.button {
	font-size: 14px;
	font-weight: 600;
	color: white;
	padding: 6px 25px 0px 25px;
	margin: 0px;
	display: inline-block;
	float: right;
	text-decoration: none;
	width: 60px;
	height: 27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #5cb38b;
	-webkit-box-shadow: 0 3px rgba(58, 87, 175, .75);
	-moz-box-shadow: 0 3px rgba(58, 87, 175, .75);
	box-shadow: 0 3px rgba(58, 87, 175, .75);
	transition: all 0.1s linear 0s;
	top: 0px;
	position: relative;
}

a.button:hover {
	top: 3px;
	background-color: #3C7B5e;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-iy {
	width: fit-content;
	margin: 0 auto;
}

.btn-iy a {
	margin: 0 10px;
}

.col-iy {
	text-align: center;
}

.col-iy input:-ms-input-placeholder {
	color: #5cb38b;
}

.col-iy input::-webkit-input-placeholder {
	color: #5cb38b;
}

.col-iy input::-moz-placeholder {
	color: #5cb38b;
}

.col-iy input::-moz-placeholder {
	color: #5cb38b;
}