@charset "UTF-8";
/*책 상세정보*/
.book_info_jm > div{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	width: 590px;
}

.book_info_jm > img{
	width: 200px;
	height: 280px;
}
.info_jm > div{
	border-bottom: 1px solid #9c9c9c;
	padding-bottom: 10px;
}
.info_jm > ul{
	padding-left: 10px;
}
.info_jm > ul > li{
	list-style-type: none;
	margin-bottom: 30px;
}
.info_jm > ul > li > div{
	display: inline-block;
}
.info_jm > ul > li > div:first-child {
	width: 100px;
}
.info_jm > ul > li > div:last-child {
	font-weight: bold;
}
.book_area_button_jm{
	margin-left: 220px;
}

.quantity_div_jm{
	font-size: 0px;
	height: 21px;
}

.quantity_div_jm > *{
	float: left;
}
.quantity_div_jm > label{
	font-size: 14px;
	margin-right: 5px;
}

.btn_info{
	margin-left: 30px;
	width: 150px;
	font-size: 1.17em;
	height: 40px;
	font-weight: bold;
}

.total_info_jm{
	border: 0px solid red;
	margin-top: 10px;
}
.info_menu_list_jm{
	width: 400px;
	overflow: hidden;
}
.info_menu_list_jm > div{
	color: #5cb38b;
	display: inline-block;
	padding: 0px 20px;
	border: 1px solid #5cb38b;
	float: left;
	border-bottom: 0px;
}
.info_menu_list_jm > div:first-child{
	margin-left: 10px;
}
.info_menu_list_jm:nth-child(1) > div:nth-child(1){
	background-color: #5cb38b;
	color: white;
}
.info_menu_list_jm:nth-child(3) > div:nth-child(2){
	background-color: #5cb38b;
	color: white;
}
.info_menu_list_jm:nth-child(5) > div:nth-child(3){
	background-color: #5cb38b;
	color: white;
}
.info_menu_list_jm > div:hover {
	cursor: cursor;
}

/*책소개*/
.info_goods_jm{
	border: 1px solid #5cb38b;
	margin-bottom: 5px;
}
.info_contents_jm{
	white-space: pre-line;
	margin: 10px;
}
.info_contents_jm > div{
	border-bottom: 1px solid #9c9c9c;
	padding: 10px;
	font-size: 1.17em;
}
.info_intro_jm{
	white-space: pre-line;
	margin: 10px;
}
.info_intro_jm > div{
	border-bottom: 1px solid #9c9c9c;
	padding: 10px;
	font-size: 1.17em;
}
.info_writer_jm{
	white-space: pre-line;
	margin: 10px;
}
.info_writer_jm > div{
	border-bottom: 1px solid #9c9c9c;
	padding: 10px;
	font-size: 1.17em;
}
.info_writer_otherBook_jm > div{
	border-bottom: 1px solid #9c9c9c;
	padding: 10px;
	font-size: 1.17em;
	margin: 10px;
}
.info_writer_otherBook_jm .book_list_jm{
	border-bottom :0px;
}
.info_writer_otherBook_jm .book_list_jm > div{
	display: inline-block;
	margin: 0px 17px;
	margin-top: 5px;
	width: 150px;
}
.info_writer_otherBook_jm .book_list_jm > div > img{
	width: 150px;
	height: 230px;
}
.info_writer_otherBook_jm .book_list_jm > div > .book_list_content_jm{
	margin-bottom: 5px;
	text-align: center;
}
.info_writer_otherBook_jm .book_list_content_jm > div{
	white-space: pre;
	font-size: 14px;
}
.info_writer_otherBook_jm > div:first-child a{
	float: right;
	text-decoration: none;
	color: #9c9c9c;
}

/*리뷰정보*/
.info_review_jm{
	width: 800px;
	border: 1px solid #5cb38b;
	margin-bottom: 5px;
}
.info_review_jm > div{
	width: 700px;
	margin: 5px auto;
	overflow: hidden;
}
.info_review_jm > div:nth-child(1) > *{
	display: inline-block;
	float: left;
}
.info_review_jm > div:nth-child(1) > textarea{
	width: 590px;
	height: 50px;
}
.info_review_jm .btn-all_jm{
	height: 56px;
}
.info_review_jm > .info_review_centent_table > div >  div{
	border: 0px solid #5cb38b;
	border-right: 0px;
	box-sizing: border-box;
	font-size: 14px;
	display: inline-block;
}


.info_review_centent_table{
	width:700px;
	border-bottom: 1px solid #5cb38b;
	padding-bottom: 5px;
	font-size: 0px;
	margin: 0px auto;
	display: table;
}
.info_review_centent_table > div{
	display: table-row;
}
.info_review_centent_table > div > div{
	display: table-cell;
	vertical-align: middle;
}
.info_review_centent_table > div > div:nth-child(1){
	width: 100px;
	text-align: center;
}
.info_review_centent_table > div > div:nth-child(2){
	width: 400px;
	word-break:break;
}
.info_review_centent_table > div > div:nth-child(3){
	width: 100px;
	text-align: center;
}
.info_review_centent_table > div > div:nth-child(4){
	width: 100px;
	text-align: center;
}

/*환불정보*/
.info_refund_jm{
	border: 1px solid #5cb38b;
	margin-bottom: 5px;
}
.info_refund_jm > div{
	width : 95%;
	margin: 10px auto;
}
.refund_centent > div{
	border: 1px solid #5cb38b;
	border-bottom: 0px;
	overflow: hidden;
}
.refund_centent > div:last-child{
	border-bottom: 1px solid #5cb38b;
}
.refund_centent > div > div{
	display: inline-block;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
.refund_centent > div > div:first-child {
	width: 150px;
	vertical-align: top;
	text-align: center;
}
.refund_centent > div > div:last-child {
	width: 560px;
	border-left: 1px solid #5cb38b;
	padding-left: 30px;
}
.refund_centent ul{
	padding-left: 20px;
}
.refund_centent ul li{
	margin: 5px auto;
}

.re_btn{
	height: 56px;
	font-size: 1.17em;
	width: 97px;
	padding: 0em 1em;
	font-weight: bold;
}





