@charset "UTF-8";

.btn_reset_yk {
	background: red;
	color: #fff;
	border: 0px;
	position: relative;
	width: 200px;
	 height: 100px;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	font-size: 1.5em;
}

.btn_reset_yk:hover {
	background: #fff;
	color: red;
}

.btn_reset_yk:before, .btn_reset_yk:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: red;
	transition: 400ms ease all;
}

.btn_reset_yk:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn_reset_yk:hover:before, .btn_reset_yk:hover:after {
	width: 100%;
	transition: 800ms ease all;
}