@charset "UTF-8";
body {
	width: 100%;
	background: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.widthline {
	margin: 0px auto;
	display: block;
	width: 1000px;
	overflow: hidden;
	border: dotted black 0px;
}

.path_hy{
	width: 1000px;
    height: 30px;
    border-bottom: 1px solid #9C9C9C;
    font-size: 12px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.h2_hy{
	border-bottom : 1px solid #9C9C9C;
	padding-bottom: 10px;
	color: #5CB38B;
}

/*사이드메뉴*/
.side_h2_hy{
	width: 80%;
    margin-left: 18px;
    border-bottom: 1px solid #9c9c9c;
    font-weight: bold;
}

.content_side_hy{
	border: 0px solid #9c9c9c;
	width: 18%;	
	float: left;
}

.content_sideline_hy{
	width:100%;
	border: 1px solid #9c9c9c;	
}

.content_sideline_hy a{
	color:#9c9c9c;
	text-decoration: none;
	font-size: 12px;
}

.content_sideline_hy a:hover{
	color: #5cb38b;
}

.content_sideline_hy > ul{
	margin: 14px 0px;
    text-align: left;
    list-style-type: none;
    font-size: 1.17em;
    padding-left: 18px;
    line-height: 20px;	
}

.content_side_ul_hy  li{
	list-style:none;
	color: #3c7b52;
	font-size: 1.17em;
}



/*메인 회원정보*/
.con_hy{
	display: block;
	box-sizing:border-box;
	border: solid blue 0px;
	width: 80%;
	float: right;
}
/*버튼통일*/
.btn-all {
	float: right;
	background: #5cb38b;
	color: #fff;
	border: 0px;
	position: relative;
	height: 30px;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.btn-all:hover {
	background: #fff;
	color: #5cb38b;
}

.btn-all:before, .btn-all:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

.btn-all:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn-all:hover:before, .btn-all:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/*기간별 조회*/

.block_btn_hy{
	background: #5cb38b;
	color: #fff;
	/* position: relative; */
	cursor: pointer;
	padding: 4px 0.5em;	
	font-size: 1.17em;
	border-radius: 3px;
	outline: none;
	border:0px;
	margin-right: 1.5px;
	margin-left: 1.5px;
	margin-top:15%;
}

.block_btn_hy:hover{
	font-weight: bold;
}

.downList_hy{
	width: 100%;
	display:block;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: right;
	font-size: 12px;
	
}
.downList_hy input{
	vertical-align: middle;
}
.downList_hy label{
	margin-top: 1.5%;
}

.downList_sel_hy{
	color: #9c9c9c;
	font-size: 12px;	
}

/*페이지*/
.page_count_hy {
	border: 1px solid #9c9c9c;
	box-sizing:border-box;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	display: block;
}

.page_count_hy a{
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	color: black;
}

.page_count_hy a:hover{
	color: #5CB38B;
	font-weight: bold;
}

/*하단이미지*/
.underimg_hy{
	text-align: center;
	margin-top: 20px;
}



/*장바구니*/
.cart_faqlist_header_ej {
	margin-top: 5px;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
	background-color: #F8F8F8;
	font-size: 1.17em;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	
}

/*리스트*/
.cart_list_hy{
	width:100%;
}
.cart_list_hy > div{
	width: 1000px;
}

.cart_faqlist_header_ej div {
	float:left;
	text-align: center;
}

.cart_faqlist_header_ej div:nth-child(1) {
	width:400px;
}

.cart_faqlist_header_ej div:nth-child(2) {
	width:50px;
}

.cart_list_con_hy div {
	float:left;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}

.cart_list_con_hy {
	padding-bottom: 5px;
	margin-top: 5px;
	border-bottom: 1px solid #9c9c9c;
	overflow: hidden;
}

.cart_list_con_hy > div:nth-child(1) {
	width:13px;
	margin-top: 1.5%;
}

.bookName_hy{
	width:390px;
	overflow: hidden;
}

.cart_list_con_hy > div:nth-child(3) {
	width:50px;
	
}


.cart_list_size_hy{
	width:110px;
}

.bookName_hy div{
	float: none;
}
.bookName_hy a{
	font-size: 1.17em;
	text-decoration: none;
	color: #9c9c9c;
}

.bookName_hy >div:nth-child(1){
	width:40px; 
	height: 57px;
	float: left;
	margin-left: 20px;
}
.bookName_hy >div:nth-child(2){
	line-height:28px;
	text-align:left;
	float: left;
	margin-left: 20px;
}
.bookimg_hy{
	width:40px;
	height: 57px;
}
.text_mid_hy{
	line-height: 53px;
}
.

/* 결제창 */
.payment_Information_yk{
	margin-top: 25px;
	height: 160px;
}
.payment_subject_yk>div{
	background-color: #d7d7d721;
	height: 50px;
	line-height: 50px;
	color: #9c9c9c;
	font-size: 1.17em;
}
.payment_subject_yk>div{
	font-size: 1.17em;
}
.payment_subject_yk>div,.payment_detail_yk>div{
	width: 24%;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
}
.payment_detail_yk>div{
	height: 80px;
	line-height: 80px;
}
.payment_detail_yk > div{
	font-size: 1.17em;
}
.icon_yk{
	position: absolute;
	width: 50px;
	height: 50px;
}

.main_order_hy {
	text-align: center;
}
.main_order_hy .btn-all{
	float: none;
	margin-left: 15px;
	margin-right: 15px;
}

/*책 공통(수량선택)*/
.quantity_input_hy{
	float:right;
	text-align: right;
	display: inline-block;
}
.quantity_div_hy{
	display: inline-block;
	margin: 0px;
	margin-top: 1.7%;
}
.quantity_div_hy input{
	background-color: white;
	color: black;
	outline-color: #5cb38b;
}

.quantity_hy{
	float: right;
	width: 10px;
}
.quantity_hy > span{
	display: list-item;
	text-decoration: none;
	list-style-type: none;
	margin: 0px;
	font-size: 5px;
	border: 1px solid #9c9c9c;
	width: 10px;
	height: 8.73px;
	padding: 0px;
	line-height: 5px;
	cursor: pointer;
}

