@charset "UTF-8";

body {
	width: 100%;
	background: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.widthline_ej {
	margin: 0 auto;
	width: 500px;
}

.qboss_ej{
	background-color: #F8F8F8;
	width:100%;
	font-size: 12px;
}

.qsub1_ej{
	height: 40px;
	margin-bottom: 10px;
	background-color: #5cb38b;
}

.qsub1_ej span{
	color: #fff;
	line-height: 40px;
	font-size: 1.17em;
	font-weight: bold;
	margin-left: 10px;
}

.qsub2_ej{
	color: #5cb38b;
	padding-left: 22px;
}

.qsub3_ej{
	border: 0px solid #9c9c9c;
	height: 50px;
	margin-bottom: 10px;
	width: 90%;
	margin-left: 60px;
	margin-top: 10px;
}

.qsub4_ej {
	margin-top: 10px;
	margin-left: 22px;
	border: 1px solid #9c9c9c;
	background-color: #fff;
	font-size: 12px;
	width: 90%;
	height: 25px;
	color: #000;
	line-height: 25px;
}

.qsub4_ej div {
	float:left;
	text-align: center;
}

.qsub4_ej div:nth-child(1) {
	background-image: url("../images/CustomerService/minus5.png");
	background-repeat: no-repeat;
	background-position: 158px 4px;
	width: 38%;
}

.qsub4_ej div:nth-child(2) {
	width: 20%;
}

.qsub4_ej div:nth-child(3) {
	background-image: url("../images/CustomerService/minus5.png");
	background-repeat: no-repeat;
	background-position: 1px 4px;
	width: 25%;
}

.qsub4_ej div:nth-child(4) {
	background-image: url("../images/CustomerService/minus5.png");
	background-repeat: no-repeat;
	background-position: 1px 4px;
	width: 17%;
}

.page2_ej {
	margin-top: 10px;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	text-align: center;
}

.qsearch_sub_ej {
	float: left;
	margin: 13px 0 0 50px;
}

.qsearch_sub_ej input {
    padding: 5px;
    color: #000;
    outline-color: #5CB38B;
    border-radius: 3px;
    border: 1px solid #9c9c9c;
    font-size: 12px;
}

.btn-all:hover {
	font-weight: bold;
}

.btn_ej{
	background: #5cb38b;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 0.5em;
    border-radius: 3px;	
    text-decoration: none;
}