@charset "UTF-8";
body {
	width: 100%;
	background: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}


.widthline {
	margin: 0 auto;
	width: 1000px;
}

.h2-hr {
	color: #5cb38b;
	border-bottom: 1px solid #9c9c9c;
	padding-bottom: 10px;
}
.diap_sub_mh{margin-left: 10px;}
.diap_sub_mh p{font-size: 12px; color: #9c9c9c; line-height: 1.5;}

.diap_main_mh{
	width: 740px; height: 350px;
	margin: auto;
	margin-top: 50px;
	border: 1px solid #c9c9c9;
	padding: 30px;
	box-shadow: 2px 2px 2px 2px #c0c0c0;
}

.diap_input_mh{width: 415px; height: 100px; 
	margin: auto; margin-top: 50px;
}

.diap_text_mh{
	width: 300px; height: 100px;
	border: 0px solid fuchsia;
	display: block; float: left; 
}

.diap_text_mh input{
		width: 290px; height: 30px;
		margin-top: 10px; color: #3C7B5e; font-size: 12px;
}

.diap_btn_mh{
	margin-left: 303px;
	width: 110px; height: 70px;
	border: 0px solid yellow;
}

.btn-all {
	/* float: right; */
	background: #5cb38b;
	color: #fff;
	border: 0px;
	position: relative;
	width: 110px;
	height: 80px;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	margin-top: 10px;
}

.btn-all:hover {
	background: #fff;
	color: #5cb38b;
}

.btn-all:before, .btn-all:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

.btn-all:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn-all:hover:before, .btn-all:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.input_sub_mh{width: 500px; height: 30px; margin: auto;
	border-top: 1px solid #808080; margin-top: 5px;
}

.input_sub_mh a{float: right; text-decoration: none; 
	color: #9c9c9c; font-weight: bold; font-size: 12px;
	margin-right: 10px;  margin-top: 5px; }

.input_sub_mh a:hover {	color: #5CB38B; }

.sub_mh{border: 0px solid teal; width: 500px; height: 50px; margin: auto; margin-top: 25px;}

.sub_mh p{text-align: center; color: #9c9c9c; font-size: 12px;}

.input_button_mh{ width: 270px; height:50px; 
margin: auto; border: 0px solid teal; 
}

.input_button_mh button{
	width: 80px; height: 20px;
	 padding: 0px; font-size: 12px;
	 margin-left: 5px;
	}