@charset "UTF-8";

body {
	width: 100%;
	background: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}


.widthline {
	margin: 0 auto;
	width: 1000px;
}

.h2-hr {
	color: #5cb38b;
	border-bottom: 1px solid #9c9c9c;
	padding-bottom: 10px;
}

.loginline_mh{
	width: 740px; height: 500px;
	margin: auto;
	margin-top: 50px;
	border: 1px solid #c9c9c9;
	padding: 30px;
	box-shadow: 2px 2px 2px 2px #c0c0c0;
}

.login_mh{margin-left: 100px;}

.login_mh li{
	width: 240px; height: 30px; color: #808080;
	list-style-type: none;
	display: block; float: left;
	text-align: center;	font-size: 1.17em;
	line-height: 30px;
	cursor: pointer;
}

.on_mh{
	border:  #3C7B5e solid 3px;
	border-bottom: 0px;
}

.alt_mh{
	border-bottom: 3px #3C7B5e solid;
}

.login_input_mh{
	border: 0px solid blue;
	width: 260px;
	margin-top: 50px;
	margin-left: 200px;
}


.input_on_mh input{
	width: 250px; height: 30px;
	line-height: 15px;
	margin-top: 10px; color: #3C7B5e;
}

.login_input_mh{
	display: block; float: left;
}	

.input_check_mh{margin-top: 15px;}

/* .btn_on_mh input{
	margin-top: 60px;
	width: 80px; height: 80px;
	background-color: #3C7B5e;
	color: white; border: 0px;
	cursor: pointer;
} */

.alt_login_mh{display: none;}

.input_alt_mh{
	border: 0px solid blue;
	width: 260px;
	margin-top: 50px;
	margin-left: 200px;
	display: block; float: left;
}

.input_alt_mh input{
	width: 250px; height: 30px;
	line-height: 15px;
	margin-top: 10px; color: #3C7B5e;
}

.input_alt_mh input:nth-child(2){	width: 100px;}

.input_alt_mh input:nth-child(3){	width: 120px;}

/* .btn_alt_mh input{
	margin-top: 60px;
	width: 80px; height: 130px;
	background-color: #3C7B5e;
	color: white; border: 0px;
	cursor: pointer;
} */
/*버튼통일*/
.btn-all {
	/* float: right; */
	margin-top: 60px; width: 110px; height: 130px;
	background: #5cb38b;
	color: #fff;
	border: 0px;
	position: relative;
	/* width: 10%;
	height: 30px; */
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.btn-all:hover {
	background: #fff;
	color: #5cb38b;
}

.btn-all:before, .btn-all:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

.btn-all:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn-all:hover:before, .btn-all:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.on_sub_mh{
	border: 0px solid blue; font-size: 12px;
	float: right; margin-top: 20px; margin-right: 110px;
}

.on_sub_mh a{color: #9c9c9c; text-decoration: none;}

.on_sub_mh a:hover{ color: #5CB38B;}

.interwork_mh{
	border-top: 1px solid #808080;  margin-top: 60px;
	width: 480px; height: 35px;	
	margin-left: 150px;
}

.interwork_mh button{ 
	padding: 0px; width: 200px; height: 30px;
	margin-left: 25px; margin-top: 10px;
	display: block; float: left;
 }
 
 .epn_alt_mh{ 	margin-left: 110px;}
 
 .epn_alt_mh li{ list-style: none; font-size: 12px; color: #9c9c9c;}
 
 .epn_alt_mh span{color: #3C7B5e;}
 
 .alt_join_mh{
 	border-top: 1px solid #808080;
 	width: 480px; height: 35px;
 	margin-left: 150px;
 }
 
 .alt_join_mh a{
 	color: #9c9c9c; float: right; margin-top: 5px;
 	text-decoration: none; font-size: 12px; margin-right: 10px;
 }
 
 .alt_join_mh a:hover{color: #5CB38B;}