@charset "UTF-8";
body {
	width: 100%;
	background: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.widthline {
	margin: 0px auto;
	width: 1000px;
	overflow: hidden;
}	
.path_sc{
	/*width: 100%;
    height: 30px;
    border-bottom: 1px solid #9C9C9C;
    font-size: 1.17em;
    padding-top: 7px;
    margin-bottom: 5px;
    color: #3C7B5e;*/
    width: 1000px;
    height: 30px;
    border-bottom: 1px solid #9C9C9C;
    font-size: 12px;
    padding-top: 15px;
    margin-bottom: 5px;
    
}
.menu_sc{
	width: 18%;
	border: 1px solid #9c9c9c;
	font-size: 12px;
	display: inline-block;
}

.menu_fir_sc{
	width: 80%;
	margin-left: 18px;
	border-bottom: 1px solid #9c9c9c;
}

.menu_sc > ul{
	margin:14px 0px;
	text-align: left;
	list-style-type: none;
	font-size: 1.17em;
	padding-left: 18px;
	line-height: 20px;
}
.menu_sc a{
	color: #9c9c9c;
	text-decoration: none;
}

.main_sc{
	float: right;
	width: 80%;
	box-sizing: border-box;
}

.bar_sc{
	width: 100%; height: 50px;
	box-sizing: border-box;
	padding-right: 10px;
	border-bottom: 1px solid #9c9c9c;
	font-size: 12px;
}
.bar_ea_sc{
	height: 50px;
	float: left;
	line-height: 49px;
}
.bar_sel_sc{
	float:left;
	line-height: 49px;
	display: inline-block;
	margin-left: 10px;
}
#bar_listSel_sc{
	margin-top: 12px;
}
.bar_check_sc{
	float:right;
	line-height: 49px;
	font-size: 12px;
}

.list_sc{
	width: 100%;
	box-sizing: border-box;
	margin-top: 5px;
	overflow: hidden;
}
.book_chdiv_sc {
	overflow: hidden;
	float: left;
	margin: 2.5px 24px;
	width: 150px;
}
.bookCon_sc{
	width:150px;
}

/*.delete_sc, .cart_sc{
	height: 30px;
	width: 100px;
	border-radius: 5px;
	background-color: #5cb38b;
	color: white;
	border:0px;
	float: right;
	margin-left: 5px;
	margin-top: 9px;
	
}*/

.delete_sc, .cart_sc {
	float: right;
	background: #5cb38b;
	color: #fff;
	border: 0px;
	position: relative;
	width: 100px;
	height: 30px;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	margin-top: 7px;
	margin-left: 5px;
}

.delete_sc:hover, .cart_sc:hover {
	background: #fff;
	color: #5cb38b;
}

.delete_sc:before, .delete_sc:after, .cart_sc:before, .cart_sc:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

.delete_sc:after, .cart_sc:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.delete_sc:hover:before, .delete_sc:hover:after, .cart_sc:hover:before, .cart_sc:hover:after {
	width: 100%;
	transition: 800ms ease all;
}