@charset "UTF-8";
body {
	width: 100%;
	background: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.widthline {
	margin: 0px auto;
	display: block;
	width: 1000px;
	overflow: hidden;
	border: dotted black 0px;
}

.path_hy{
	width: 1000px;
    height: 30px;
    border-bottom: 1px solid #9C9C9C;
    font-size: 12px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.h2_hy{
	border-bottom : 1px solid #9C9C9C;
	padding-bottom: 10px;
	color: #5CB38B;
}

/*사이드메뉴*/
.side_h2_hy{
	width: 80%;
    margin-left: 18px;
    border-bottom: 1px solid #9c9c9c;
    font-weight: bold;
}

.content_side_hy{
	border: 0px solid #9c9c9c;
	width: 18%;	
	float: left;
}

.content_sideline_hy{
	width:100%;
	border: 1px solid #9c9c9c;	
}

.content_sideline_hy a{
	color:#9c9c9c;
	text-decoration: none;
	font-size: 12px;
}

.content_sideline_hy a:hover{
	color: #5cb38b;
}

.content_sideline_hy > ul{
	margin: 14px 0px;
    text-align: left;
    list-style-type: none;
    font-size: 1.17em;
    padding-left: 18px;
    line-height: 20px;	
}

.content_side_ul_hy  li{
	list-style:none;
	color: #3c7b52;
	font-size: 1.17em;
}

/*메인 회원정보*/
.con_hy{
	display: block;
	box-sizing:border-box;
	border: solid blue 0px;
	width: 80%;
	float: right;
}
.con_hy :nth-child(2) h2{
	margin-bottom: 5px;
	margin-top: 30px;
}

.con_info_hy{
	width: 100%;
	overflow: hidden;
}

.con_info1_hy{
	width:100%;
	text-align:center;
	overflow: hidden;	
	display: block;
}

.info_head_hy{
	display: inline-block;
	text-align: center;
	color: #9c9c9c;
	font-weight:bold;
	width: 20%;
}

.info_box_hy{
	margin: 0px auto;
	height: 50px;
	width: 100px;
	box-sizing: border-box; 
	border: #9c9c9c solid 1px;
	border-radius: 15px;  
	background-color: #F8F8F8;
}

.info_box_hy span{
	text-align: center;
	line-height: 50px;
}

.info_box_hy a{
	text-decoration: none;
	font-size: 1.17em;
	color: #9c9c9c;
}

.info_box_hy a:hover{
	color: #5CB38B;
}

/*버튼통일*/
.btn-all {
	float: right;
	background: #5cb38b;
	color: #fff;
	border: 0px;
	position: relative;
	height: 30px;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.btn-all:hover {
	background: #fff;
	color: #5cb38b;
}

.btn-all:before, .btn-all:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #1AAB8A;
	transition: 400ms ease all;
}

.btn-all:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn-all:hover:before, .btn-all:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/*기간별 조회*/
.search_box_hy{
	border-bottom: solid gray 1px;
	box-sizing:border-box;
	display: block;
	width: 100%;
	overflow: hidden;
}

.search_box_hy :nth-child(1) span{
	color: #3C7B5e;
	font-size: 1.17em;
}

.search_box_hy p{
	text-align: center;
	font-size:9px;
}

.block_btn_hy{
	background: #5cb38b;
	color: #fff;
	/* position: relative; */
	cursor: pointer;
	/* padding: 4px 0.5em; */	
	font-size: 12px;
	border-radius: 3px;
	outline: none;
	border:0px;
	margin-right: 1.5px;
	margin-left: 1.5px;
}

.block_btn_hy:hover{
	font-weight: bold;
}

.downList_hy{
	width: 100%;
	display:block;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.downList_sel_hy{
	color: #9c9c9c;
	font-size: 12px;	
}

/*페이지*/
.page_count_hy {
	border: 1px solid #9c9c9c;
	box-sizing:border-box;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	text-align: center;
	margin-top: 5px;
	overflow: hidden;
	display: block;
}

.page_count_hy a{
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	color: black;
}

.page_count_hy a:hover{
	color: #5CB38B;
	font-weight: bold;
}

.underimg_hy{
	text-align: center;
	margin-top: 20px;
}

.block_day_hy select{
	color: #9c9c9c;
	font-size: 12px;
}
.block_day_hy > span > button{
	background: #5cb38b;
	color: #fff;
	font-size: 12px;
}

.search_faqlist_header_ej {
	margin-top: 5px;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	
}
.search_faqlist_header_ej div {
	float:left;
	text-align: center;
}

.search_faqlist_header_ej > div:nth-child(1) {
	line-height: unset;
	width:152px;
}

.search_faqlist_header_ej > div:nth-child(2) {
	line-height: unset;
	width:147px;
}

.search_faqlist_header_ej > div:nth-child(3) {
	width:49px;
}


.search_list_con_hy div {
	float:left;
	text-align: center;
}



.search_list_con_hy {
	overflow: hidden;
}
.table_jm div{
	font-size: 12px;
}
.table_jm div:nth-child(1) {
	width:170px;
	line-height: 18px;
}

.table_jm div:nth-child(2) {
	width:150px;
	text-align: left;
	line-height: 17px;
}
.table_jm div:nth-child(2) > a{
	overflow: hidden;
	word-break: break-all;
}
.table_jm div:nth-child(3) {
	width:35px;
}
.table_jm div:nth-child(4) {
	width:100px;
}
.table_jm div:nth-child(5) {
	width:100px;
}
.table_jm div:nth-child(6) {
	width:80px;
	
}
.table_jm div:nth-child(7) {
	width:80px;
}
.table_jm div:nth-child(8) {
	width:80px;
}

.search_faqlist_header_ej > div:nth-child(1) {
	line-height: unset;
}

.search_faqlist_header_ej > div:nth-child(2) {
	line-height: unset;
}


.search_list_size_hy{
	width: 90px;
}

.list_hy{
	width:100%;
}
.list_hy > .table_jm{
	border-bottom: 1px solid #9c9c9c;
}
.list_hy > .table_jm:last-child{
	border-bottom: 0px;
}
.list_hy div{
	margin-top: 5px;
	margin-bottom: 10px;
}
.list_hy a{
	text-decoration: none;
}

.list_hy a:link, .list_hy a:visited {
	color:black;
}

.list_hy a:hover {
	color: #5CB38B;
}

.list_hy  input{
	background: #5cb38b;
	color: #fff;
	font-size: 12px;
}


/*detailOrder*/
.array_hy{
	overflow: hidden;
}
.array_list_hy{
	float: left;
	padding-left: 5px;
  	margin: 0px;
	color: #9C9C9C;
	font-size: 12px;
}
.array_list_hy a{
	text-decoration: none;
	color: #9C9C9C;
}

.array_list_hy > a:hover{
	color: #5cb38b;
}

.detail_faqlist_header_ej {
	margin-top: 5px;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #9c9c9c;
	line-height: 25px;
}

.detail_faqlist_header_ej div {
	float:left;
	text-align: center;
}

.detail_faqlist_header_ej div:nth-child(1) {
	width:348px;
}

.detail_faqlist_header_ej div:nth-child(2) {
	width:50px;
}



.detail_list_con_hy div:nth-child(1) {
	width:348px;
}

.detail_list_con_hy div:nth-child(2) {
	width:50px;
}

.detail_list_con_hy > div {
	float:left;
	text-align: center;
}

.detail_list_con_hy {
	box-sizing:border-box;
	width:100%;
	border-bottom: 1px solid #9c9c9c;
	padding-bottom: 5px;
	overflow: hidden;
}
.detail_list_con_hy:last-child{
	border-bottom: 0px solid #9c9c9c;
}
.detail_list_size_hy{
	width:100px;
}

.delivery_info_hy {
	border: solid red 0px;
	width: 100%;
	overflow: hidden;
}

.delivery_con_hy {
	width: 100%;
	border: solid #9c9c9c 1px;
	box-sizing: border-box;
}

.delivery_info1_hy {
	overflow: hidden;
	display: block;
	height: 30px;
}

.delivery_info1_hy div{	
	height: 30px;
	line-height: 30px;
}

.delivery_info1_hy > div:nth-child(odd) {
	background-color: #F8F8F8;
	box-sizing: border-box;
	width:20%;
	float: left;
	text-align: center;
}

.delivery_info1_hy > div:nth-child(even) {
	width:30%;
	box-sizing: border-box;
	float: left;
	padding-left: 10px;
}

.delivery_con_hy > div:nth-child(4) > div:nth-child(2){
	width: 80%;
}

.delivery_info1_hy >div:nth-child(1) {
	border-right: 1px solid #9c9c9c;
}

.delivery_con_hy >div:nth-child(1), .delivery_con_hy >div:nth-child(2), .delivery_con_hy >div:nth-child(3){
	border-bottom: 1px solid #9c9c9c;
}

.delivery_con_hy >div:nth-child(1) > div:nth-child(3){
	border-right: 1px solid #9c9c9c;
	border-left: 1px solid #9c9c9c;
}

.payment_info_hy {
	border: solid red 0px;
	width: 100%;
	overflow: hidden;
}

.payment_con_hy {
	width: 100%;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
}

.payment_info1_hy {
	overflow: hidden;
	display: block;
	height: 30px;
}
.payment_info1_hy div{	
	height: 30px;
	line-height: 30px;
}

.payment_info1_hy > div:nth-child(odd) {
	background-color: #F8F8F8;
	border: 0px solid #9c9c9c;
	box-sizing: border-box;
	width:20%;
	float: left;
	text-align: center;
}

.payment_info1_hy > div:nth-child(even) {
	border: 0px solid #9c9c9c;
	box-sizing: border-box;
	width:30%;
	float: left;
	padding-left: 10px;
}

.payment_info1_hy >div:nth-child(1) {
	border-right: 1px solid #9c9c9c;
}

.payment_con_hy >div:nth-child(2){
	border-top: 1px solid #9c9c9c;
	border-bottom: 1px solid #9c9c9c;
}

.payment_con_hy >div:nth-child(2) > div:nth-child(3){
	border-right: 1px solid #9c9c9c;
	border-left: 1px solid #9c9c9c;
}

.totalPrice_hy{
	padding-top: 10px;
	border: 1px solid white;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
}

.totalPrice_hy div{
	float: right;
	font-size: 1.17em;
	font-weight: bold;
}

.totalPrice_con_hy> div:nth-child(odd){
	float: left;
	width: 100px;
	text-align: right;
}

.totalPrice_con_hy> div:nth-child(even){
	float: left;
	width: 80px;
	text-align: center;
}

/*buyList*/
.buy_faqlist_header_ej {
	margin-top: 5px;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	
}
.buy_faqlist_header_ej div {
	float:left;
	text-align: center;
}

.buy_faqlist_header_ej div:nth-child(1) {
	width:152px;
	line-height: unset;
}

.buy_faqlist_header_ej div:nth-child(2) {
	width:237px;
	line-height: unset;
}

.buy_faqlist_header_ej div:nth-child(3) {
	width:49px;
}


.buy_list_con_hy div {
	float:left;
	text-align: center;
}

.buy_list_con_hy {
	margin-bottom: 5px;	
	overflow: hidden;
}

.buy_list_con_hy div:nth-child(1) {
	width:152px;
}

.buy_list_con_hy div:nth-child(2) {
	width:237px;
}

.buy_list_con_hy div:nth-child(3) {
	width:49px;
}

/*장바구니*/
.cart_faqlist_header_ej {
	margin-top: 5px;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
	background-color: #F8F8F8;
	font-size: 12px;
	width: 100%;
	height: 25px;
	color: #000;
	line-height: 25px;
	
}
.cart_faqlist_header_ej div {
	float:left;
	text-align: center;
}

.cart_faqlist_header_ej div:nth-child(1) {
	width:452px;
}

.cart_faqlist_header_ej div:nth-child(2) {
	width:46px;
}

.cart_list_con_hy div {
	float:left;
	text-align: center;
}

.cart_list_con_hy {
	margin-bottom: 5px;	
}

.cart_list_con_hy div:nth-child(1) {
	width:13px;
}

.cart_list_con_hy div:nth-child(2) {
	width:439px;
}

.cart_list_con_hy div:nth-child(3) {
	width:46px;
}

.cart_list_size_hy{
	width:100px;
}

/* 결제창 */
.payment_Information_yk{
	margin-top: 25px;
	height: 160px;
}
.payment_subject_yk>div{
	background-color: #d7d7d721;
	height: 50px;
	line-height: 50px;
	color: #9c9c9c;
	font-size: 1.17em;
}
.payment_subject_yk>div{
	font-size: 1.17em;
}
.payment_subject_yk>div,.payment_detail_yk>div{
	width: 24%;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	float: left;
}
.payment_detail_yk>div{
	height: 80px;
	line-height: 80px;
}
.payment_detail_yk > div{
	font-size: 1.17em;
}
.icon_yk{
	position: absolute;
	width: 50px;
	height: 50px;
}

.main_order_hy {
	text-align: center;
}
.main_order_hy .btn-all{
	float: none;
	margin-left: 15px;
	margin-right: 15px;
}

/*책 공통(수량선택)*/
.quantity_input_hy{
	float:right;
	text-align: right;
	display: inline-block;
}
.quantity_div_hy{
	margin: 0px;
}
.quantity_div_hy input{
	background-color: white;
	color: black;
	outline-color: #5cb38b;
}

.quantity_hy{
	float: right;
	width: 10px;
}
.quantity_hy > span{
	display: list-item;
	text-decoration: none;
	list-style-type: none;
	margin: 0px;
	font-size: 5px;
	border: 1px solid #9c9c9c;
	width: 10px;
	height: 8px;
	padding: 0px;
	line-height: 5px;
	cursor: pointer;
}

